input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input,
select {
  width: 240px;
  height: 40px;
  border-radius: 10px;
}
html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body {
  height: 60%;
  width: 70%;
  display: inline-block;
  margin: 10px;
  text-align: center;
  background-color: rgb(210, 112, 110);
}
.contents {
  margin: 20px auto;
  width: 80%;
}
#orderDetails {
  background-color: white;
  width: 60%;
  margin: auto;
  height: 30px;
  border-radius: 10px;
}
